.profileCard {
    font-size: 16px;
    width: 300px;
    height: 150px;;
    border-left: 1px solid royalblue;
    padding: 0 20px;
}

.profileName {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    
}