.footer {
    text-align: center;
    background-color: black;
    color: var(--color-text-sub);
    font-size: 1rem;
    height: 40px;
}

.nav {
    margin-bottom: 0;
}

.items {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1rem;
    white-space: nowrap;
}