.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.addressWrapper {
    border-top: 1px solid royalblue;
    border-bottom: 1px solid royalblue;
    padding: 20px;
}

.or {
    color: white;
    font-size: 20px;
    margin: 20px;
}

.formWrapper {
    border: 1px solid royalblue;
    width: 80vh;
    height: 50vh;
}