.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 870px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
    scrollbar-gutter: stable overlay;
}

.addressWrapper {
    border-top: 1px solid royalblue;
    border-bottom: 1px solid royalblue;
    padding: 20px;
}

.or {
    color: white;
    font-size: 20px;
    margin: 20px;
}

.formWrapper {
    border: 1px solid royalblue;
    width: 800px;
    height: 500px;
}