.items {
    display: flex;
    color: var(--color-text-main);
    gap: 20px;
}

.item:hover {
    color: var(--color-text-active);
    border-bottom: 1px solid var(--color-text-active);
    font-weight: bold;
    transition: all 0.3s;
}

.nav {
    padding-left: 10px;
    margin-right: 50px;
}