:root {
  --font-site: "Arial";
  --color-text-main: white;
  --color-text-sub: whitesmoke;
  --color-text-active: turquoise;
  --color-background-main: black;
  --color-background-sub: #221816;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background-color: var(--color-background-main);
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
