.profile {
    margin: 0 100px;
    height: 90vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
    scrollbar-gutter: stable overlay;
}

.movingLine {
    width: 300px;
    height: 4px;
    background: linear-gradient(90deg, #4d6bff, #a2b3ff);
    transition: transform 0.1s linear;
}