.ball {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    opacity: 0.5;
}

.ball:hover {
    opacity: 1;
    border-radius: 0%;
    transition: all 0.2s;
    filter: drop-shadow(0 0 10px white);
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
}

.iconActive {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    opacity: 0.15;
}

.ballText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    padding: 10px;
}

.skillName {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    border-bottom: 1px dashed black;
}