.workCard {
    background-color: black;
    width: 19vw;
    height: 19vw;
    /*aspect-ratio: 1 / 1;*/
    position: relative;
    opacity: 0.8;
}

.workCardImageStyle {
    object-fit: cover;
}

.selected {
    opacity: 0.1;
    transition: all 0.5s;
}