.card {
    padding: 10px;
    width: 33.33vw;
    height: 88vh;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 20px;
    line-height: 50px;
    position: relative;
    transition: all 0.3s;
    opacity: 0.85;
}

.card:hover {
    color: var(--color-text-active);
    font-size: 100px;
    letter-spacing: 50px;
    line-height: 100px;
    border-radius: 0 20% 0 20%;
    opacity: 1;
}

.royalblue {
    background: royalblue;
    color: white;
}

.whitesmoke {
    background-color: whitesmoke;
    color: black;
}

.darkslateblue {
    background: darkslateblue;
    color: white;
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}