.contactAddress {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
}

.dictItemWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dictItemWrapper dt {
    width: 100px;
    display: flex;
    justify-content: center;
}

.dictItemWrapper dd {
    width: 300px;
}

.emailIcon {
    filter: invert(1);
}

.githubIcon {
    filter: invert(1);
}