.works {
    width: 100%;
    height: 90vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.twoCols {
    display: flex;
    height: 100%;
}

.colLeft {
    width: 40vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.leftContainer {
    width: 35vw;
    height: 100%;
    background-color: black;
    border: 1px solid royalblue;
}

.colRight {
    width: 60vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
    scrollbar-gutter: stable overlay;
}

.controllArea {
    width: 100%;
    height: 10%;
}

.viewArea {
    width: 100%;
    height: 90%;
}

.noSelect {
    display: flex;
    margin-top: 100px;
    font-size: 100px;
    color: white;
    justify-content: center;
    align-items: center;
}