.showWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.workImage {
    width: 80%;
    height: 500px;
    /*aspect-ratio: 1 / 1;*/
    position: relative;
}

.workImageStyle {
    object-fit: contain;
}

.workName {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.workDescription {
    font-size: 20px;
    color: white;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.technologyImageWrapper {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    backdrop-filter: blur(12px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid royalblue;
    border-radius: 5px;
}

.technologyImage {
    object-fit: contain;
    padding: 2px;
}