.showWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.workImage {
    width: 80%;
    aspect-ratio: 1 / 1;
    position: relative
}

.workImage Image {
    object-fit: cover;
}

.workName {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.workDescription {
    font-size: 20px;
    color: white;
}